rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isAuthenticated() {
      return request.auth != null;
    }

    match /users/{userId} {
      allow read, write: if isAuthenticated();
    }

    match /links/{linkId} {
      allow read, write: if isAuthenticated();
    }
    
    match /notifications/{notificationId} {
      allow read, write: if isAuthenticated();
    }
  }
}
